<h1>戦国AGE</h1>
<h2>城主情報</h2>
<p>
  <ul>
    <li>名前　　　　: <%= @player.user_name %></li>
    <li>金　　　　　: <%= @player.money %></li>
    <li>兵糧　　　　: <%= @player.food %></li>
    <li>兵力　　　　: <%= @player.army %></li>
    <li>開墾レベル　: <%= @player.kaikon_lv %></li>
    <li>商業レベル　: <%= @player.syougyou_lv %></li>
  </ul>
</p>
<h3>内政</h3>
<p>
  <ul>
    <% if @naisei_job.run_flag == 0 then %>
      <li><%= link_to "開墾を実行" , controller:"home" , action:"kaikon" , player_id:@player.user_id%></li>
      <li><%= link_to "商業を実行" , controller:"home" , action:"syougyou" , player_id:@player.user_id%></li>
    <% elsif @naisei_job.run_flag == 1 && @complete_flag == 1 then %>
      <li><%= @run_naisei_name %>を実行中【残り時間：<%= @run_naisei_remain_time.to_i %>秒】</li>
    <% elsif @naisei_job.run_flag == 1 && @complete_flag == 0 then %>
      <li><%= @run_naisei_name %>が完了しました！　<%= link_to 'レベルアップ' , controller:"home" , action:"levelup" , player_id:@player.user_id , naisei_id:@naisei_job.naisei_id , level_up:@naisei_job.level_up %></li>
    <% end %>
  </ul>
</p>
<h3>軍事</h3>
<p>
  <ul>
    <li><%= link_to "他国を攻める" , controller:"war" , action:"list" , player_id:@player.user_id%></li>
  </ul>
</p>
